html 
  box-sizing: border-box

*, *::before, *::after 
  box-sizing: inherit
body 
  font-family: 'Montserrat', sans-serif
a:active, a:focus 
  outline: none
input, textarea 
  outline: none
input:active, textarea:active
  outline: none
input:focus, textarea:focus
  outline: none
button:active, button:focus
  outline: none
h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
  padding: 0
ul > li 
  list-style: none
a
  display: inline-block
  position: relative
  text-decoration: none
  color: #000000
  cursor: pointer
textarea
  resize: none