.start
  padding: 50px 0 130px 0
  background-color: #ffffff
  &__wrapper 
    margin-top: 100px
  &__img 
    max-width: 530px
    img 
      max-width: 100%
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25)
      border-radius: 10px
  &__content 
    margin-top: 80px
  &__num 
    position: relative
    font-weight: bold
    font-size: 100px
    color: #F5DF68
    &::after
      position: absolute
      content: ''
      width: 60%
      height: 2px
      background-color: #F5DF68
      bottom: 50px
      left: 100px
  &__text 
    margin-top: 40px
    font-size: 20px
    line-height: 30px
    color: #4F4F4F
  .img--right 
    display: flex
    justify-content: flex-end

